*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border-left: 3px;
    font-family: "Lucida Sans", sans-serif;
    font-size: 15px;
    background-color: #e1d3e7;
    color: #45484d;
    display: flex;
    width: 90%;
    min-height: 90%;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #ece7e7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: inline-block;
    width: 1000;
    padding: 44px;
    gap: 24px;
}

.form__header {
    margin-bottom: 5px;
}

.form__header h1 {
    font-size: 24px;
    line-height: 28px;
    color: #374151;
    margin: 5;
}

.form__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form__group--label {
    line-height: 19px;
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
}

.form__group {
    margin-bottom: 5px;
    margin-top: 5px
}

.form__control--grow {
    height: 140px !important;
    display: inline-block;
}

.form__control {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 9px;
    padding: 10px;
    height: 8px;
    min-width: 600px;
}

.form__submit {
    padding: 15px 25px;
    font-weight: 500;
    color: #ffff;
    border: 1px solid #d2d6db;
    background-color: #864996;
    border-radius: 6px;
    display: flex;
    cursor: pointer;
    margin-left: auto;
}

.form__group-title {
    width: 95%;
    font-size: 20px;
    font-weight: 60;
    border-bottom: 1px solid #864996;
    padding: 2px;
    margin-bottom: 20px;
    margin-top: 14px
}

.input-wrapper {
    width: calc(100%);
}

.input {
    width: 100%;
    height: 47px;
    font-family: inherit;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #fff;
}

.input--color {
    height: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-wrapper .input {
    font-size: 17px;
    margin-top: 1px;
}
